@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-style: normal;
  height: 100%;
  width: 100%;
}

.authentication {
  height: 100vh;
  width: 100vw;
}

.authentication .image-container {
  height: 60%;
  background-color: #FFA451;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.authentication .image-container .content-image {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.authentication .image-container .content-image .basket {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.authentication .content {
  width: 100%;
  height: 40%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.authentication .content .formulary {
  padding-top: 5%;
  margin: 5%;
  width: 90%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.authentication .content .formulary form {
  height: 80%;
}

.authentication .content .formulary form label {
  display: block;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 0.08em;
  color: #27214D;
  padding-bottom: 5%;
}

.authentication .content .formulary form input.input-name {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #F3F1F1;
  font-size: 1em;
  margin-top: 1em;
  padding: 1.1em;
  width: 100%;
  border: none;
  border-radius: 10px;
}

.authentication .content .formulary form input.input-name::-webkit-input-placeholder {
  color: #C2BDBD;
  letter-spacing: 0.08em;
}

.authentication .content .formulary form input.input-name:-ms-input-placeholder {
  color: #C2BDBD;
  letter-spacing: 0.08em;
}

.authentication .content .formulary form input.input-name::-ms-input-placeholder {
  color: #C2BDBD;
  letter-spacing: 0.08em;
}

.authentication .content .formulary form input.input-name::placeholder {
  color: #C2BDBD;
  letter-spacing: 0.08em;
}

.authentication .content .formulary .button .button-start {
  background-color: #FFA451;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 4em;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14px;
}

.loading .loading-image {
  width: 100%;
  height: 100%;
}

.loading .loading-image .logo {
  width: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.welcome {
  width: 100vw;
  height: 100vh;
}

.welcome .image-container {
  height: 60%;
  background-color: #FFA451;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.welcome .image-container .content-image {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.welcome .image-container .content-image .basket {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.welcome .content {
  width: 100%;
  height: 40%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5%;
}

.welcome .content .formulary {
  margin: 5%;
  width: 90%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.welcome .content .formulary .text {
  height: 80%;
}

.welcome .content .formulary .text h1 {
  margin-top: 1em;
  color: #27214D;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 0.02em;
}

.welcome .content .formulary .text h2 {
  margin-top: 1em;
  color: #5d577e;
  font-size: 1em;
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 1.5em;
}

.welcome .content .formulary .button button {
  background-color: #FFA451;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 4em;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14px;
}

.home {
  width: 100vw;
  height: 100vh;
}

.home header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home header p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.5em;
  margin: 5%;
}

.home .welcome {
  width: 90%;
  height: 5%;
  margin: 2.5% 5% 5% 5%;
  line-height: 2em;
  padding-bottom: 5%;
  color: #5d577e;
  font-size: 0.8em;
}

.home .welcome strong {
  color: #27214D;
}

.home .search {
  margin: 5%;
  width: 90%;
}

.home .search .search-bar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.home .search .search-bar input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 1.5em 1.5em 1.5em 3em;
  border: none;
  border-radius: 10px;
  background: #F3F1F1;
}

.home .search .search-bar .icon-search {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1.2em;
  left: 1em;
  top: 1.2em;
}

.home .search .search-bar .filter {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .search .search-bar .filter .icon-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1.2em;
}

.home .recommendation {
  margin: 5%;
  width: 90%;
  padding-bottom: 10%;
}

.home .recommendation h1 {
  padding-top: 1em;
  color: #27214D;
  font-size: 1.4em;
}

.home .recommendation .cards {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .recommendation .cards .card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  border-radius: 10px;
  border: none;
  width: 45%;
  height: 12em;
  -webkit-box-shadow: 0.5em 2em 2em #F3F1F1;
          box-shadow: 0.5em 2em 2em #F3F1F1;
}

.home .recommendation .cards .card .apresentation {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 90%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home .recommendation .cards .card .apresentation img {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  padding: 5%;
}

.home .recommendation .cards .card .apresentation h2 {
  color: #27214D;
  font-size: 0.9em;
  padding: 0 0.5em;
}

.home .recommendation .cards .card .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .recommendation .cards .card .info .heart {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}

.home .recommendation .cards .card .info .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
}

.home .recommendation .cards .card .info .price .money {
  height: 0.9em;
  position: absolute;
  left: 0.5em;
  bottom: 0.5em;
}

.home .recommendation .cards .card .info .price h2 {
  position: absolute;
  left: 2em;
  bottom: 0.5em;
  font-size: 0.9em;
  color: #FFA451;
}

.home .recommendation .cards .card .info .more {
  height: 2em;
  position: absolute;
  right: 0.5em;
  bottom: 0.5em;
}

.home .content-options {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 90%;
  margin: 5%;
  height: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .content-options nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.home .content-options nav ul li {
  list-style: none;
}

.home .content-options nav ul li a {
  text-decoration: none;
  color: #5d577e;
  font-weight: bold;
  font-size: 1rem;
}

.home .content-options nav ul li a:hover {
  color: #27214D;
  text-decoration: underline;
  text-decoration-thickness: 10%;
  -webkit-text-decoration-color: #FFA451;
          text-decoration-color: #FFA451;
}

.home .content-options nav ul li .selected {
  font-size: 1.1rem;
  color: #27214D;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: 20%;
  -webkit-text-decoration-color: #FFA451;
          text-decoration-color: #FFA451;
}

.home .slider {
  width: 100%;
  overflow: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
}

.home .slider .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  min-width: 37%;
  margin: 5% 2.5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  border: none;
  height: 12em;
}

.home .slider .card .apresentation {
  width: 100%;
  height: 90%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home .slider .card .apresentation .heart {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1em;
  width: 1em;
  right: 0.5em;
  top: 0.5em;
}

.home .slider .card .apresentation .image {
  position: relative;
  width: 100%;
  height: 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .slider .card .apresentation .image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  margin: auto auto;
  vertical-align: center;
}

.home .slider .card .apresentation h2 {
  color: #27214D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-size: 0.9em;
  padding: 0 0.5em;
}

.home .slider .card .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .slider .card .info .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
}

.home .slider .card .info .price .money {
  height: 0.9em;
  position: absolute;
  left: 0.5em;
  bottom: 0.5em;
}

.home .slider .card .info .price h2 {
  left: 2em;
  position: absolute;
  bottom: 0.5em;
  font-size: 0.9em;
  color: #FFA451;
}

.home .slider .card .info .more {
  position: absolute;
  height: 2em;
  right: 0.5em;
  bottom: 0.5em;
}

.home .slider .card:nth-of-type(1) {
  background-color: #FFFAEB;
}

.home .slider .card:nth-of-type(2) {
  background-color: #FEF0F0;
}

.home .slider .card:nth-of-type(3) {
  background-color: #F1EFF6;
}

.home .slider .card:nth-of-type(4) {
  background-color: #E9ECFF;
}

.home .slider .card:nth-of-type(5) {
  background-color: #F0FAEB;
}

.order {
  height: 100vh;
  width: 100vw;
  /*.items .item .image {
            &:nth-of-type(1){
                background-color: $quinoa-background-color;
            }
            &:nth-of-type(2){
                background-color: $melon-background-color;
            }
            &:nth-of-type(3){
                background-color: $tropical-background-color;
            }
        }*/
}

.order header {
  background-color: #FFA451;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 15%;
}

.order header .button .back-button {
  border: none;
  width: 25%;
  height: 3em;
  background-color: #FFFFFF;
  border-radius: 50px;
  position: absolute;
  left: 5%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.order header .button .back-button img {
  height: 50%;
  position: absolute;
  left: 10%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.order header h1 {
  color: #FFFFFF;
  font-size: 1.5em;
  font-weight: 500;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.order .items {
  padding-top: 15vh;
  margin: 5%;
  height: 80%;
  width: 90%;
  overflow-y: scroll;
}

.order .items .item {
  border-bottom: 2px solid #F3F1F1;
  width: 100%;
  height: 25vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5em;
  padding-bottom: 1em;
}

.order .items .item .image {
  position: relative;
  border-radius: 10px;
  width: 25vw;
  height: 100%;
}

.order .items .item .image img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60%;
}

.order .items .description {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 1em;
}

.order .items .description h3 {
  font-size: 1.1em;
  padding-bottom: 1em;
}

.order .items .description h4 {
  font-size: 0.9em;
  font-weight: 400;
}

.order .items .price {
  height: 100%;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order .items .price img {
  width: 1em;
}

.order .items .price h2 {
  font-size: 1em;
  padding-left: 0.2em;
  color: #27214D;
}

.order footer {
  position: fixed;
  background-color: #FFFFFF;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 12vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.order footer .price {
  margin-left: 5%;
  width: 40%;
  height: 100%;
}

.order footer .price h2 {
  font-size: 1em;
}

.order footer .price h1 {
  font-size: 1.5em;
}

.order footer .price h1 img {
  height: 0.8em;
}

.order footer .button {
  margin-right: 5%;
  width: 60%;
  height: 100%;
}

.order footer .button button {
  background: #FFA451;
  border: none;
  height: 4em;
  width: 100%;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 1em;
  font-weight: bold;
}

.order .modal-details {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
}

.order .modal-details .modal-content {
  border-radius: 20px 20px 0 0;
  z-index: 10;
  margin-top: 40vh;
  position: relative;
  height: 60vh;
  background-color: white;
}

.order .modal-details .modal-content .cancel {
  position: absolute;
  top: -10%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.order .modal-details .formulary {
  width: 90%;
  height: 90%;
  padding-top: 15%;
  margin: 5% 5% 5% 5%;
}

.order .modal-details .formulary form label {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  color: #27214D;
  padding-bottom: 1em;
}

.order .modal-details .formulary form input {
  width: 95%;
  height: 4em;
  border-radius: 10px;
  border: none;
  background-color: #F3F1F1;
  font-size: 1.2em;
  padding-left: 5%;
  margin-bottom: 10%;
}

.order .modal-details .formulary form input::-webkit-input-placeholder {
  color: #C2BDBD;
  font-size: 1em;
}

.order .modal-details .formulary form input:-ms-input-placeholder {
  color: #C2BDBD;
  font-size: 1em;
}

.order .modal-details .formulary form input::-ms-input-placeholder {
  color: #C2BDBD;
  font-size: 1em;
}

.order .modal-details .formulary form input::placeholder {
  color: #C2BDBD;
  font-size: 1em;
}

.order .modal-details .formulary .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order .modal-details .formulary .buttons button {
  display: inline;
  width: 40%;
  height: 4em;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid #FFA451;
  color: #FFA451;
  font-weight: bold;
  font-size: 1em;
}

.order .modal-card {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.order .modal-card .modal-content {
  border-radius: 20px 20px 0 0;
  z-index: 10;
  margin-top: 40vh;
  position: relative;
  height: 60vh;
  background-color: white;
}

.order .modal-card .modal-content .cancel {
  position: absolute;
  top: -10%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.order .modal-card .modal-content .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30vh;
  width: 100%;
  border-radius: 20px 20px 0 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2em;
  background-color: #FFA451;
}

.order .modal-card .modal-content .buttons button {
  display: inline;
  width: 40%;
  height: 4em;
  border-radius: 10px;
  background-color: #FFFFFF;
  border: 2px solid #FFA451;
  color: #FFA451;
  font-weight: bold;
  font-size: 1em;
}

.order .modal-card .formulary {
  width: 90%;
  height: 60%;
  padding-top: 15%;
  margin: 5% 5% 5% 5%;
}

.order .modal-card .formulary form label {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  color: #27214D;
  padding-bottom: 0.8em;
}

.order .modal-card .formulary form input {
  width: 95%;
  height: 3em;
  border-radius: 10px;
  border: none;
  background-color: #F3F1F1;
  font-size: 1em;
  padding-left: 5%;
  margin-bottom: 5%;
}

.order .modal-card .formulary form input::-webkit-input-placeholder {
  color: #C2BDBD;
  font-size: 1em;
}

.order .modal-card .formulary form input:-ms-input-placeholder {
  color: #C2BDBD;
  font-size: 1em;
}

.order .modal-card .formulary form input::-ms-input-placeholder {
  color: #C2BDBD;
  font-size: 1em;
}

.order .modal-card .formulary form input::placeholder {
  color: #C2BDBD;
  font-size: 1em;
}

.order .modal-card .formulary form .shorts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1em;
}

.order .modal-card .formulary form .shorts .date {
  width: 40%;
}

.order .modal-card .formulary form .shorts .ccv {
  width: 40%;
}

.complete {
  width: 100vw;
  height: 100vh;
}

.complete .content {
  margin: 5%;
  width: 90%;
  height: 90%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.complete .content .image {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 30vh;
  margin-top: 10%;
}

.complete .content .image img {
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.complete .content .text {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.complete .content .text h1 {
  padding-top: 2em;
  font-size: 2em;
  color: #27214D;
  font-weight: bold;
}

.complete .content .text h2 {
  padding-top: 1em;
  font-size: 1.7em;
  color: #27214D;
  font-weight: 500;
  line-height: 1.5em;
  padding-bottom: 1.5em;
}

.complete .content .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.complete .content .buttons .track {
  font-size: 1.5em;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  font-weight: 500;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFA451;
  width: 7em;
  height: 3em;
  margin-bottom: 1.5em;
}

.complete .content .buttons .continue {
  font-size: 1.5em;
  border: 2px solid #FFA451;
  border-radius: 10px;
  color: #FFA451;
  font-weight: 500;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFFFFF;
  width: 10em;
  height: 3em;
}

.track header {
  background-color: #FFA451;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 15vh;
}

.track header .back-button {
  border: none;
  width: 20vw;
  height: 4vh;
  background-color: #FFFFFF;
  border-radius: 50px;
  position: relative;
  left: 2vw;
  top: 5.5vh;
}

.track header .back-button img {
  height: 60%;
  position: absolute;
  left: 10%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.track header .back-button a {
  width: 20vw;
  position: absolute;
  left: 13.5vw;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #000000;
  text-decoration: none;
}

.track header h1 {
  font-size: 1.8em;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/*# sourceMappingURL=style.css.map */