@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-style: normal;
  height: 100%;
  width: 100%;
}

.authentication {
  height: 100%;
  width: 100%;
}

.authentication .image-container {
  width: 100%;
  height: 60vh;
  background-color: #FFA451;
}

.authentication .image-container .content-image {
  margin: 0 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 100%;
  position: relative;
}

.authentication .image-container .content-image .basket {
  height: 60%;
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.authentication .formulary {
  position: relative;
  width: 80%;
  height: 22vh;
  margin: 10% 10%;
  padding-top: 1.5em;
}

.authentication .formulary form {
  position: relative;
  height: 100%;
}

.authentication .formulary form label {
  display: block;
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: 0.08em;
  color: #27214D;
}

.authentication .formulary form input.input-name {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #F3F1F1;
  font-size: 1em;
  margin-top: 1em;
  padding: 1.1em;
  width: 100%;
  border: none;
  border-radius: 10px;
}

.authentication .formulary form input.input-name::-webkit-input-placeholder {
  color: #C2BDBD;
  letter-spacing: 0.08em;
}

.authentication .formulary form input.input-name:-ms-input-placeholder {
  color: #C2BDBD;
  letter-spacing: 0.08em;
}

.authentication .formulary form input.input-name::-ms-input-placeholder {
  color: #C2BDBD;
  letter-spacing: 0.08em;
}

.authentication .formulary form input.input-name::placeholder {
  color: #C2BDBD;
  letter-spacing: 0.08em;
}

.authentication .formulary form input.button-start {
  position: absolute;
  background-color: #FFA451;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 4em;
  right: 0;
  bottom: 0;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14px;
}

.loading .loading-image {
  width: 100%;
  height: 100%;
}

.loading .loading-image .logo {
  width: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.welcome .image-container {
  width: 100%;
  height: 60vh;
  background-color: #FFA451;
}

.welcome .image-container .content-image {
  margin: 0 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 100%;
  position: relative;
}

.welcome .image-container .content-image .basket {
  height: 60%;
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.welcome .formulary {
  position: relative;
  width: 80%;
  height: 22vh;
  margin: 10% 10%;
  padding-top: 1.5em;
}

.welcome .formulary h1 {
  color: #27214D;
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: 0.02em;
}

.welcome .formulary h2 {
  color: #5d577e;
  font-size: 0.9em;
  letter-spacing: 0.02em;
  font-weight: 300;
  line-height: 1.5em;
  margin-top: 1em;
}

.welcome .formulary button {
  position: absolute;
  background-color: #FFA451;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 4em;
  right: 0;
  bottom: 0;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14px;
}

.home {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.home header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home header p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.5em;
  margin: 5% 5% 2.5% 5%;
}

.home .welcome {
  margin: 2.5% 5% 5% 5%;
  color: #5d577e;
  font-size: 0.8em;
}

.home .welcome strong {
  color: #27214D;
}

.home .search {
  margin: 5%;
  width: 90%;
}

.home .search .search-bar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.home .search .search-bar input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  padding: 1.5em 1.5em 1.5em 3em;
  border: none;
  border-radius: 10px;
  background: #F3F1F1;
}

.home .search .search-bar .icon-search {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1.2em;
  left: 1em;
  top: 1.2em;
}

.home .search .search-bar .filter {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .search .search-bar .filter .icon-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1.2em;
}

.home .recommendation {
  margin: 5%;
  width: 90%;
}

.home .recommendation h1 {
  padding-top: 1em;
  color: #27214D;
  font-size: 1.4em;
}

.home .recommendation .cards {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .recommendation .cards .card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  border-radius: 10px;
  border: none;
  width: 45%;
  height: 12em;
  -webkit-box-shadow: 0.5em 2em 2em #F3F1F1;
          box-shadow: 0.5em 2em 2em #F3F1F1;
}

.home .recommendation .cards .card .apresentation {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 90%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home .recommendation .cards .card .apresentation img {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  padding: 5%;
}

.home .recommendation .cards .card .apresentation h2 {
  color: #27214D;
  font-size: 0.9em;
  padding: 0 0.5em;
}

.home .recommendation .cards .card .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .recommendation .cards .card .info .heart {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}

.home .recommendation .cards .card .info .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
}

.home .recommendation .cards .card .info .price .money {
  height: 0.9em;
  position: absolute;
  left: 0.5em;
  bottom: 0.5em;
}

.home .recommendation .cards .card .info .price h2 {
  position: absolute;
  left: 2em;
  bottom: 0.5em;
  font-size: 0.9em;
  color: #FFA451;
}

.home .recommendation .cards .card .info .more {
  height: 2em;
  position: absolute;
  right: 0.5em;
  bottom: 0.5em;
}

.home .content-options {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 15% 5% 5% 5%;
  height: 1em;
  border: 0px solid black;
}

.home .content-options nav ul {
  width: 100%;
}

.home .content-options nav ul li {
  display: inline-block;
  padding-right: 1em;
}

.home .content-options nav ul li a {
  text-decoration: none;
  color: #5d577e;
  font-weight: bold;
  font-size: 1.1em;
}

.home .content-options nav ul li a:hover {
  color: #27214D;
  text-decoration: underline;
  text-decoration-thickness: 10%;
  -webkit-text-decoration-color: #FFA451;
          text-decoration-color: #FFA451;
}

.home .content-options nav ul li .selected {
  font-size: 1.5em;
  color: #27214D;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: 20%;
  -webkit-text-decoration-color: #FFA451;
          text-decoration-color: #FFA451;
}

.home .slider {
  width: 100%;
  overflow: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
}

.home .slider .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  min-width: 37%;
  margin: 5% 2.5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  border: none;
  height: 12em;
}

.home .slider .card .apresentation {
  width: 100%;
  height: 90%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home .slider .card .apresentation .heart {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1em;
  width: 1em;
  right: 0.5em;
  top: 0.5em;
}

.home .slider .card .apresentation .image {
  position: relative;
  width: 100%;
  height: 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .slider .card .apresentation .image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  margin: auto auto;
  vertical-align: center;
}

.home .slider .card .apresentation h2 {
  color: #27214D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-size: 0.9em;
  padding: 0 0.5em;
}

.home .slider .card .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .slider .card .info .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
}

.home .slider .card .info .price .money {
  height: 0.9em;
  position: absolute;
  left: 0.5em;
  bottom: 0.5em;
}

.home .slider .card .info .price h2 {
  left: 2em;
  position: absolute;
  bottom: 0.5em;
  font-size: 0.9em;
  color: #FFA451;
}

.home .slider .card .info .more {
  position: absolute;
  height: 2em;
  right: 0.5em;
  bottom: 0.5em;
}

.home .slider .card:nth-of-type(1) {
  background-color: #FFFAEB;
}

.home .slider .card:nth-of-type(2) {
  background-color: #FEF0F0;
}

.home .slider .card:nth-of-type(3) {
  background-color: #F1EFF6;
}

.home .slider .card:nth-of-type(4) {
  background-color: #E9ECFF;
}

.home .slider .card:nth-of-type(5) {
  background-color: #F0FAEB;
}
/*# sourceMappingURL=style.css.map */