// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
$font-main: 'Lato', sans-serif;

// Colors
$color-black: #000000;
$primary-color: #FFA451;
$secondary-color: #FFFFFF;
$tertiary-color: #F3F1F1;
$font-color: #27214D;
$secondary-font-color: #5d577e;
$placeholder-font: #C2BDBD;
$quinoa-background-color: #FFFAEB;
$tropical-background-color: #FEF0F0;
$melon-background-color: #F1EFF6;
$honey-background-color: #E9ECFF;
$berry-background-color: #F0FAEB;
