// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
$font-main: 'Lato', sans-serif;

// Variables
$primary-color: #FFA451;
$secondary-color: #FFFFFF;
$tertiary-color: #F3F1F1;
$font-color: #27214D;
$placeholder-font: #C2BDBD;